/*
 * App
 */

$page-width: 1190px;
$page-ratio: 1.4145161;
$page-padding: 80px;

/*
 * Colors
 */

$color-primary: #0773e8;
$color-white: #ffffff;

/*
 * Breakpoints
 */

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
