/*
 * App
 */

$page-width: 1190px;
$page-ratio: 1.4145161;
$page-padding: 80px;

$left-column: 380px;

/*
 * Colors
 */

$color-primary: #0773e8;
$color-white: #ffffff;

$color-light-1: #e6e8f0;
$color-light-2: #d8dae5;
$color-light-3: #c0c2cc;
$color-light-4: #9598a6;
$color-light-5: #737580;
$color-light-6: #575966;
$color-light-7: #41434d;
$color-light-8: #363840;
$color-light-9: #2b2d33;
$color-light-10: #212126;
$color-light-11: #18191c;
$color-light-12: #0b0b0d;

/*
 * Fonts
 */

$font-base: 16px;
$font-xxs: 0.74rem;
$font-xs: 0.81rem;
$font-sm: 0.88rem;
$font-md: 0.95rem;
$font-lg: 1.02rem;
$font-xl: 1.09rem;

/*
 * Breakpoints
 */

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
