.page-wrapper {
  width: 100%;
  max-width: $page-width;
  min-height: calc($page-width * $page-ratio);
  background-color: $color-white;
  margin: 80px auto 50px;
  padding: $page-padding;
  display: flex;

  .left-column {
    width: $left-column;
    margin-right: 20px;
  }

  .right-column {
    flex-grow: 1;
    margin-left: 20px;
    border: 1px dashed #000;
  }
}
